<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/lab5</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.dsgroup7.app.Entity.Commodity"/>
    <mapping class="com.dsgroup7.app.Entity.Result"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
     <!--<property name="hbm2ddl.auto">update</property>-->
  </session-factory>
</hibernate-configuration>